@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #5ca9a6;
  --color-secondary: #8b6bb7;
  --color-tertiary: #2c2e31;
  --color-text: #d1d0c5;
  --color-container: #3C3E42; 
}
